# macOS
.DS_Store

# Rendered Apps
examples/**/*.webp
examples/**/*.gif

# Pixlet Binary
pixlet
pixlet.exe
pixlet.wasm

# Pixlet library
libpixlet.so
libpixlet.h
pixlet.dll

# Releases
build/
out/
dist/

# Dependency directories
node_modules
src/go

.vscode/
