.container {
	background-color: black;
	position: relative;
}

.image {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	width: 100%;
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	mask-repeat: no-repeat;
}
