name: pixlet

on:
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Install buildifier
        run: make install-buildifier

      - name: Run buildifier
        run: buildifier -d -r ./

  build-and-test:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/Krypton"

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        if: matrix.os == 'windows-latest'
        with:
          msystem: mingw64
          update: true
          install: >-
            make
            curl
            mingw-w64-x86_64-toolchain
          path-type: inherit

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-24.04'
        run: sudo apt-get install -y libwebp-dev

      - name: Install macOS dependencies
        if: matrix.os == 'macos-latest'
        run: brew install webp

      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: |
          set MSYSTEM=MINGW64
          curl -LO https://repo.msys2.org/mingw/mingw64/mingw-w64-x86_64-libwebp-1.6.0-1-any.pkg.tar.zst
          pacman -U --noconfirm mingw-w64-x86_64-libwebp-1.6.0-1-any.pkg.tar.zst

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Check for stale generated files
        if: matrix.os == 'ubuntu-24.04'
        run: |
          go generate ./...
          git diff --exit-code -- .  ':!frontend/package-lock.json'

      - name: Build Linux
        run: make build
        if: matrix.os == 'ubuntu-24.04'

      - name: Build macOS
        run: make build
        if: matrix.os == 'macos-latest'
        env:
          LIBRARY_PATH: "/opt/homebrew/lib"
          CGO_CPPFLAGS: "-I/opt/homebrew/include"

      - name: Build Windows
        shell: msys2 {0}
        run: |
          set MSYSTEM=MINGW64
          make build
        if: matrix.os == 'windows-latest'

      - name: Test Linux
        run: make test
        if: matrix.os == 'ubuntu-24.04'

      - name: Test macOS
        run: make test
        if:  matrix.os == 'macos-latest'
        env:
          LIBRARY_PATH: "/opt/homebrew/lib"
          CGO_CPPFLAGS: "-I/opt/homebrew/include"

      - name: Test Windows
        shell: msys2 {0}
        run: |
          set MSYSTEM=MINGW64
          make test
        if: matrix.os == 'windows-latest'
